footer {
    background-color: #161133;
    padding: 2em 8%;
    display: block;
    margin: 0 auto;
    margin-top: 10rem;
    bottom: 0;
    right: 0;
    left: 0;
}

footer.flexbox, footer.flexbox * {
    justify-content: left;
}

.icon {
    width: 2em;
    margin: 0.5em 0;
    margin-right: 1.5em;
}

#socmed_links {
    margin-left: 5em;
}

/* Resize for mobile devices -- footer only needs to alter the direction of the elements */
@media screen and (max-width: 480px) { 
    footer.flexbox {
        flex-direction: column;
        gap: 1em;
    }
}