footer {
    background-color: #161133;
    display: block;
    padding: 2em 8%;
    margin: 0 auto;
    margin-top: 10rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer_flex {
    display: flex;
    /* justify-content: center; */
    justify-content: left;
    gap: 5em;
}

.social_flex {
    justify-content: left;
    vertical-align: middle;
}

.icon {
    width: 2em;
    margin: 0.5em 0;
    margin-right: 1.5em;
}

#social_links {
    /* margin-left: 10em; */
}

@media screen and (max-width: 480px) {
    .footer_flex {
        flex-direction: column;
        gap: 1em;
    }
}