/* Consistent adjustments to the entire header */
header {
    display: block;
    margin: 2% 8%;
    top: 0;
    right: 0;
    left: 0;
}

header.flexbox {
    justify-content: space-between;
}

/* Wordmark */
#wordmark {
    font-size: calc(0.5em + 1vw);
    user-select: none;
}

/* Navbar */
nav {
    font-weight: 700;
    font-size: calc(0.5em + 1vw);
    margin-left: 2em;
    text-transform: uppercase;
}

/* Make list items horizontal */
nav ul > li {
    display: inline-block;
}

nav li {
    line-height: 1.5em;
    vertical-align: middle;
}

/* Add interpunct separator */
nav li:not(:last-of-type):after{
    content: "・";
    display: inline-block;
    vertical-align: middle;

    font-size: 1.5em;
    z-index: -1;
    line-height: 0;

    user-select: none;
}

/* Remove weird extra space from inline lists */
nav ul {
    display: flex;
    flex-wrap: wrap;
}

/* Mode switch -- functionality not implemented yet */
#mode_switch {
    margin: calc(1em + 1vw);
    width: calc(1em + 1vw);
}

#hamburger_menu {
    display: none;
}

@media screen and (max-width: 480px) {
    nav, #mode_switch {
        visibility: hidden;
    }
    #hamburger_menu {
        display: inline;
    }
}