html {
    background-color: var(--main1);
}

body {
    background: linear-gradient(#161133 0%, #7483A1 100%);
}

/* Specific images */
.main_avatar {
    width: calc(5em + 15vw);
    max-width: 30em;
    margin-left: 2em;
}

@media screen and (max-width: 640px) {
    main {
        text-align: center;
    }
    main .flexbox {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    main img {
        display: block;
        margin: 1em auto;
    }
    h1 {
        font-size: calc(1.5em + 3.5vw);
    }
    p {
        margin: 2em 0;
    }
}