html {
    background-color: var(--main1);
}

p {
    margin: 0;
    margin-bottom: 1em;
}

.writeup p {
    font-size: 1em;
}

.writeup_flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5em;
    justify-content: left;
    margin-bottom: 2em;
}

.flex_header {
    min-width: 7em;
    max-width: 7em;
    text-align: right;
    font-size: 1em;
    text-transform: uppercase;
}