html {
    background-color: #333745;
}

h2 {
    font-size: 3em;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 1em;
}

.resume_desc p {
    font-size: 1em;
}

.resume_desc p:hover {
    color: #B8D5F0;
    transition: all 0.25s;
}

.resume_flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5em;
    justify-content: left;
    margin-bottom: 3em;
}

.flex_header {
    min-width: 7em;
    max-width: 7em;
    text-align: right;
    font-size: 1em;
    text-transform: uppercase;
}

h2:after {
    background: url("/img/stars.svg") no-repeat 0 0;
    background-size: 1em;
    content: "";
    display: inline-block;
    margin-left: 0.25em;
    width: 1em;
    height: 1em;
}

.resume_item_header {
    text-transform: uppercase;
    font-weight: 700;

}

.resume_item_header:after {
    content: "\a";
    white-space: pre;
}

#resume_download .flexbox {
    justify-content: left;
    gap: 3em;
}

#select_text {
    font-size: 1.5em;
    font-weight: 700;
}
select#version {
    padding: 0.5em;
    border-radius: 1em;
    font-weight: 700;
    font-size: 1em;
    margin-left: 0.5em;
}

select#version:hover {
    font-style: italic;
    transition: all 0.5s;
}