p {
    margin: 0;
    margin-bottom: 1em;
}

.resume_desc p {
    font-size: 1em;
}

.resume_desc p:hover {
    color: #B8D5F0;
    transition: all 0.25s;
}

.resume_flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5em;
    justify-content: left;
    margin-bottom: 3em;
}

.flex_header {
    min-width: 7em;
    max-width: 7em;
    text-align: right;
    font-size: 1em;
    text-transform: uppercase;
}

/* .flex_header + p {
    margin-left: 10em;
} */

.resume_item_header {
    text-transform: uppercase;
    font-weight: 700;

}

.resume_item_header:after {
    content: "\a";
    white-space: pre;
}

@media screen and (max-width: 640px), (pointer: none), (pointer: coarse) {
    .resume_flexbox {
        flex-direction: column;
    }
}